
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #8d22be, #efef29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
}

h2, h3 {
  color: green;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #007bff;
}
a:hover {
  color: #0056b3;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

p.important {
  font-weight: bold;
  color: red;
}

.history {
  position: relative;
  width: 80%;
  max-width: 900px;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
} 

img {
  max-width: 100%;
  height: auto;
}

.image-left {
  float: left;
  margin-right: 10px;
}

.image-right {
  float: right;
  margin-left: 10px;
}


.advantages {
  background-color: #d4edda;
  border-left: 5px solid #28a745;
  padding: 20px;
  margin: 20px 0;
}

.disadvantages {
  background-color: #f8d7da;
  border-left: 5px solid #dc3545;
  padding: 20px;
  margin: 20px 0;
}


h1 + p {
  font-size: 25px;
  color: gray;
}

ul > li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  transition: transform 5s ease;
}

.rotationLi:hover {
  transform: rotate(720deg);
  color: purple;
}