
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #8d22be, #efef29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
}

h2, h3 {
  color: green;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #007bff;
}
a:hover {
  color: #0056b3;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

p.important {
  font-weight: bold;
  color: red;
}

.history {
  position: relative;
  width: 80%;
  max-width: 900px;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
} 

img {
  max-width: 100%;
  height: auto;
}

.image-left {
  float: left;
  margin-right: 10px;
}

.image-right {
  float: right;
  margin-left: 10px;
}


.advantages {
  background-color: #d4edda;
  border-left: 5px solid #28a745;
  padding: 20px;
  margin: 20px 0;
}

.disadvantages {
  background-color: #f8d7da;
  border-left: 5px solid #dc3545;
  padding: 20px;
  margin: 20px 0;
}


h1 + p {
  font-size: 25px;
  color: gray;
}

ul > li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  transition: transform 5s ease;
}

.rotationLi:hover {
  transform: rotate(720deg);
  color: purple;
}



.flex-container {
  display: flex;
  flex-wrap: wrap; /* Позволяет перенос элементов на новую строку */
  justify-content: space-between; /* Распределяет элементы по горизонтали */
  align-items: center; /* Выравнивание элементов по вертикали */
  gap: 20px; /* Расстояние между flex-элементами */
  padding: 20px;
  background: linear-gradient(to right, #f4f4f9, #dfe6e9); /* Градиент */
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Flex-элементы */
.flex-item {
  flex: 1 1 30%; /* Элементы занимают 30% ширины контейнера, сжимаются и растягиваются */
  min-width: 200px; /* Минимальная ширина элемента */
  max-width: 300px; /* Максимальная ширина элемента */
  padding: 20px;
  background-color: rgba(40, 167, 69, 0.1); /* Цвет с прозрачностью */
  border: 1px solid hsl(120, 50%, 75%); /* Цвет в формате HSL */
  border-radius: 10px;
  color: #333; /* Цвет текста в HEX */
  text-align: justify;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация наводки */
}

.flex-item:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}