html 
	{
		: smooth;
	}

h1 
	{
		color: blue;
		text-align: center;
	}

h2
	{
		color: green;
		font-style: italic;
	}

li {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            transition: transform 0.5s ease;
        }

        li:hover {
            transform: rotate(360deg);
            color: purple;
        }
		
body 
	{
		font-family: 'Verdana', Times, serif; 
	}